.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#ff80d5; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}

h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
  --black: #0e0620;
  --white: #fff;
}

.btn-back {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;

    &.black {
        border: 4px solid var(--black);
        color: var(--black);

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background: var(--black);
            z-index: -1;
            transition: 0.2s ease;
        }

        &:hover {
            color: var(--white);
            background: var(--black);
            transition: 0.2s ease;

            &:before {
                width: 100%;
            }
        }
    }
}

/* Badge Colors */
#fbadge {
    color: #0e0620;
    background-color: #ff80aa;
}

#ebadge {
    color: #0e0620;
    background-color: #99ffcc;
}

#bbadge {
    color: #0e0620;
    background-color: #99ffff;
}

#obadge {
    color: #0e0620;
    background-color: #ffb3ec;
}
/* End of Badge Colors */

/* Back to Top Button */
#btn-top {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#btn-top {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #5de6de;
	background-image: linear-gradient(315deg, #bfbfbf 0%, #0d0d0d 74%);
	border: none;
	border-radius: 50%;
	transition: 200ms;
    position: fixed;
    bottom: 60px;
    right: 60px;
    opacity: 0;
    visibility: hidden;
}

#btn-top svg {
	fill: white;
	width: 25px;
	height: 25px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

#btn-top:before {
	content: 'Top';
	position: absolute;
	transform: translateX(-50%) translateY(45px);
	font-size: 16px;
	transition: 200ms;
	color: transparent;
	font-weight: bold;
}

#btn-top:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	width: 60px;
	height: 60px;
}

#btn-top:hover::before {
	color: #0d0d0d;
}

#btn-top:hover svg {
		animation: bounce 2s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%)}
	25% {transform: translateX(-50%) translateY(-65%)}
	50% {transform: translateX(-50%) translateY(-50%)}
	75% {transform: translateX(-50%) translateY(-35%)}
	100% {transform: translateX(-50%) translateY(-50%)}
}

#btn-top:focus {
	outline: none;
}

#btn-top.show {
    opacity: 1;
    visibility: visible;
}
/* End of Back to Top Button */
