{% extends "layout.html" %}

{% block title %}
Budgetify
{% endblock %}

{% block main %}
<main class="container py-5">
    <h2 class="mb-3">About Budgetify.</h2>
    <p>Budgetify is an open-source, user-friendly, and intuitive budget-tracking app designed to help you take control of your
        personal finances. With Budgetify, you can easily add, update, and delete expenses, allowing you to monitor
        your spending habits and make informed decisions about your financial goals. The app automatically calculates
        your total expenses and provides a detailed breakdown of your spending by category, giving you valuable
        insights into where your money is going.
    </p>
    <p>Stay on top of your budget, save more, and achieve your
        financial goals with Budgetify, your personal finance companion!</p>
</main>
{% endblock %}
