{% extends "layout.html" %}

{% block title %}
    Expenses - Budgetify
{% endblock %}

{% block main %}
<div class="container">
    <h3 class="mt-5">Expenses</h3>
    <div class="row text-muted">
        <div class="col-md-2">Item</div>
        <div class="col-md-2">Amount</div>
        <div class="col-md-2">Date of Purchase</div>
        <div class="col-md-2">Category</div>
    </div>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{ expense.name }}</div>
                        <div class="col-md-2">{{ expense.amount | usd }}</div>
                        <div class="col-md-2">{{ expense.date }}</div>
                        <div class="col-md-2">
                            <span class="badge" {% if expense.category == 'Food' %}id="fbadge"{% endif %}{% if expense.category == 'Entertainment' %}id="ebadge"{% endif %}{% if expense.category == 'Business' %}id="bbadge"{% endif %}{% if expense.category == 'Other' %}id="obadge"{% endif %}>{{ expense.category }}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="edit/{{ expense.id }}" class="btn btn-sm btn-success">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a href="delete/{{ expense.id }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5">Expense breakdown</h3>
            <div class="card shadow mb-2 bg-white rounded-pill">
                <div class="card-body">
                    <div class="row ms-2">
                        <div class="col-md-6">Food</div>
                        <div id="tfood" class="col-md-6">{{ t_food | usd }}</div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-2 bg-white rounded-pill">
                <div class="card-body">
                    <div class="row ms-2">
                        <div class="col-md-6">Entertainment</div>
                        <div id="tentertainment" class="col-md-6">{{ t_entertainment | usd }}</div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-2 bg-white rounded-pill">
                <div class="card-body">
                    <div class="row ms-2">
                        <div class="col-md-6">Business</div>
                        <div id="tbusiness" class="col-md-6">{{ t_business | usd }}</div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-2 bg-white rounded-pill">
                <div class="card-body">
                    <div class="row ms-2">
                        <div class="col-md-6">Other</div>
                        <div id="tother" class="col-md-6">{{ t_other | usd }}</div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-2 bg-white rounded-pill">
                <div class="card-body">
                    <div class="row ms-2">
                        <div class="col-md-6 fw-bold">TOTAL</div>
                        <div class="col-md-6">{{ total | usd }}</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Pie Chart -->
        <div class="col-md-6">
            <h3 class="mt-5 ms-5">Overview</h3>
            <div class="chart-container ms-5">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <!-- End of Pie Chart -->
    </div>
</div>
<script src="/static/chart.js"></script>
{% endblock %}
