{% extends "layout.html" %}

{% block title %}
    Expenses - Budgetify
{% endblock %}

{% block main %}
<div class="container">
    <h3 class="mt-5">Expenses</h3>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{ expense.name }}</div>
                        <div class="col-md-2">{{ expense.amount }}</div>
                        <div class="col-md-2">{{ expense.date }}</div>
                        <div class="col-md-2">
                            <span class="badge bg-primary">{{ expense.category }}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a href="delete/{{ expense.id }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
