{% extends "layout.html" %}

{% block title %}
Change Password - Budgetify
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <form action="/password" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword"
                placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password"
                type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation"
                placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-dark" type="submit">Change</button>
    </form>
</main>
{% endblock %}
